# Ignore data files
Data/DB_TCV_DISR.json
Data/TCV_DATAno63847.parquet
Data/TCVno63847.h5
Data/flattened_DB_TCV_DISR.json
UV_Notebook.bat
PasswordLac.py
*.png
__pycache__
*.mat
matlab_env
Archive
*.pkl
*.h5
CSV_Files
CSV_Files_no_DAI
*.svg
CSV_Files_RE
CSV_Files_NO_RE
CSV_test
CSV_test_targets
CSV_Files_no_ECE
Training_data
CSV_Files_full
CSV_Files_no_dtIP
CSV_Files_w_dtIPLA
Training_Data_w_dtIPLA
Training_data_no_dtIPLA
CSV_Files_no_dtIP_conv
CSV_Files_no_dtIP_conv_
CSV_Files_w_dtIP_conv
Training_data_NO_dtIPLA_conv
Training_data_w_dtIP_conv