# Ignore data files
Data/DB_TCV_DISR.json
Data/TCV_DATAno63847.parquet
Data/TCVno63847.h5
Data/flattened_DB_TCV_DISR.json
UV_Notebook.bat
PasswordLac.py
*.png
__pycache__
*.mat
matlab_env
Archive
*.pkl
*.h5
CSV_Files
CSV_Files_no_DAI
*.svg
CSV_Files_RE
CSV_Files_NO_RE
CSV_test
CSV_test_targets
CSV_Files_no_ECE
Training_data